---
---

//@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Raleway');

html, body {
  font-size: 1em;
  line-height: 1.65em;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
footer{
  background-color: #eee;
}

.svg-icon{
  width: 26px;
  height: 16px;
}
strong{
  font-weight:900;
}

pre{
  background: #262626;
}

.cse .gsc-control-cse, .gsc-control-cse{
  padding: 0px 20px 0px 0px !important;
}
