---
layout: default
---

<div class="row home">
  <div class="col-12">
    {%- if page.title -%}
      <h1 class="">{{ page.title }}</h1>
    {%- endif -%}
  </div>

  <div class="col-12 content">
    {{ content }}
  </div>

  <div class="col-12 posts">
  {%- if site.posts.size > 0 -%}
    <h2 class="">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="list-group list-group-flush">
      {%- for post in site.posts -%}
      <li class="list-group-item">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <p>{{ post.categories | join: ', ' }}</p>
        <i>{{ post.tags | join: ', ' }}</i>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}
  </div>

</div>
