---
layout: default
---
<article class="row page">
  <div class="col-12">
    <h1 class="mt-2">{{ page.title | escape }}</h1>
    <p>
    <time class="" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {{ page.date | date: date_format }}
    </time>
    </p>
    <b>{{ page.categories | join:', ' }}</b>
    <i>{{ page.tags | join:', ' }}</i>
  </div>

  <div class="col-12">
    {{ content }}
  </div>

</article>
