---
layout: default
---

<div class="row">

  <article class="col-lg-8" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="">
      <h1 class="" itemprop="name headline">{{ page.title | escape }}</h1>
      <p class="">
      <time class="" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
    </header>

    <div class="" itemprop="articleBody">
      {{ content }}
    </div>

    {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
    {%- endif -%}

    <a class="" href="{{ page.url | relative_url }}" hidden></a>
  </article>

  <div class="col-lg-4 mx-auto">
    <h4 class="mt-5">Posts</h4>
    <ul>
      {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <i> - {{ post.content | strip_html | truncatewords:5}}</i><br>

        <div class="post-categories">
          {% if post %}
          {% assign categories = post.categories %}
          {% else %}
          {% assign categories = page.categories %}
          {% endif %}
          {% for category in categories %}
          <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
          {% unless forloop.last %}&nbsp;{% endunless %}
          {% endfor %}
        </div>
        <br>

      </li>
      {% endfor %}
    </ul>

  </div>

</div>
